name: CI

on: [push]

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-features
  test:
    name: test
    runs-on: ubuntu-latest
    needs: check
    
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
